<header>
    <nav class="navbar navbar-light bg-dark">
          <span class="navbar-brand mb-0 h1 text-light"><%= link_to "Navbar", "/" %></span>
          <button type="button" class="navbar-brand btn btn-outline-warning text-light ml-auto">Teacher</button>
          <button type="button" class="navbar-brand btn btn-outline-primary text-light">Student</button>
    </nav>

</header>