<section class="date-of-examination">
    <h1 class="date-of-examination-text">センター試験まであと、<span><%= @date_of_examination %></span>日</h1>
    <div class="text-div-line"></div>
    <p class="date-of-examination-under-text">寒くても、頑張ろう</p>
</section>

<%= render "ranking_and_ave" %>

<a class="home-ob-episode" href="/episodes">
    <div class="episode-bg-cover">
        <h2 class="title-of-episode">Episodes</h2>
        <h2 class="message-of-episode">先生たちが受験時代に培った知恵と経験を提供</h2>
        <div class="box-in-episode">
          <div class="box-in-episode-icon"></div>
        </div>
    </div>
</a>

