<section class="date-of-examination">
    <h1 class="date-of-examination-text">センター試験まであと、<%= @date_of_examination %>日</h1>
</section>

<section class="home-total-ave">
    <div class="home-total-ave-circle">
        <p>85</p>
        <span>点</span>
    </div>
</section>

<section class="home-total-ranking">
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</section>

<section class="home-ob-episode">
    
    <a href="/episodes">体験談</a>
</section>


