<section class="date-of-examination">
  <div class="bg-cover">
    <h1 class="date-of-examination-text">センター試験まであと、<%= @date_of_examination %>日</h1>
  </div>
</section>

<%= render "slideshow" %>

<a class="home-ob-episode" href="/episodes">
  <div class="bg-cover">
    <span class="episode_link_text">体験談を見る</span>
  </div>
</a>

