<div class="login-error-wrapper">
    <div class="login-error-title">
        <h2 class="mt-5">ログインに失敗しました</h2>
    </div>
    <div class="login-error-messages">
        <p>生徒名とパスワードを確認の上もう一回ログインしましょう。</p>
        <p>パスワードを忘れた場合は担当の先生に報告してください。</p>
    </div>
</div>
