header .navbar {
    height: 70px;
    margin: 0;
    padding: 0;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar:hover {
    border-bottom: 1px solid orange;
}

.navbar > .container {
    height: 70px;
    display: block;
    font-size: 20px;
}

.header-student-name {
    font-size: 20px;
    margin-top: 10px;
    margin-right: auto;
    
}

.logo-text {
    font-size: 25px;
    font-family: 'arial black';
}

.logo-text a{
    display: block;
    color: #101010;
    line-height: 70px;
    padding: 0 20px;
    transition: .4s;
}

.logo-text a:hover {
    color: white;
    text-decoration: none;
    background: orange;
    border-radius: 25px;
}

.nav-item {
    color: #101010;
    padding: 0 30px;
    border-right: 1px solid orange;
    transition: .4s;
}

.nav-item:hover {
    color: white;
    background: orange;
}

div.btn-nav-item {
    margin-left: 50%;
}

.btn-nav-item > button.btn {
     background: white;
     color: black;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 30px;
     padding-right: 30px;
     font-family: 'HiraKakuProN-W6';
     font-size: 22px;
     border-color: white;
     border-right: 1px solid orange;
     border-left: 1px solid orange;
     transition: .4s;
     outline: none;
}


.btn-nav-item > button.btn:hover {
    background: #FFA500;
    border-radius: 25px;
}

.nib { border-left: 1px solid orange}



.fade {
    padding: 100px;
}

//.form-group {
    // text-align: center;
//}

 .fade > h1 {
    text-align: center;
}

.modal-header {
    background: #FFD700;
}

.modal-title {
    margin-left: 35%;
    font-family: 'Osaka';
}

.modal-body {
    background: #FFD700;
}
