.episode_link_text {
    font-weight: bold;
}
.test-type-list {
  display: inline-block;
  font-family: 'arial black';
  width: 200px;
  height: 50px;
  padding: 10px 10px 5px;
  cursor: pointer;
  background-color: #777;
  border-top-right-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.active-type{
  background-color: orange;
  font-weight: bold;
  color:#110000;
}
.test-type-name {
    width: 500px;
    font-size: 50px;
    font-family: 'Impact';
    font-weight: 900;
    margin: 20px auto;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
}



.home-total-ave {
  height: 600px;
  background-size: cover;
  margin-bottom: 30px; }
.home-ave-box{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    position:  relative;
}

.home-circle-wrapper{
    position: relative;
}

.home-total-ave-circle {
  background: white;
  top: -280px;
  left: 600px;
  display: flex;
  flex-direction: column;
}




.hide-area {
  display: none; }

.home-total-ave-circle > p {
  font-size: 80px; }

.home-total-ave-circle > span {
  font-size: 20px; }



