.teacher-login-form {
    padding: 80px;
    background: #FFD700;
    margin: 20%;
    margin-top: 20px;
}


.row_falses > h3 {
    font-family: 'Osaka';
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    text-align: center;
    border-bottom: solid 3px black;
    padding: 10px;
    margin: 30px;
    
}

