// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_to_teacher{
    
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 2px orange;
}

.message_to_teacher span{
    font-size: 40px;
}

.your_students_list {
    padding: 0.5em 1em;
    margin: 40px 40px 40px 40px;
    color: #2c2c2f;
    background: #ffffe0;
    box-shadow: 3px 3px 6px
}

.your_tudents_title{
    padding-left: 10%;
}

.your_tudents_title span{
    font-size: 25px;
}

.your_students {
//    background: #FFFFCC;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:  20px 20%;
}

.each_student_circle{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: orange;
  margin: 10px auto;
  box-shadow: 3px 3px;
  
}

.each_student_circle h3 {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width :300px;
  text-align:center;
}

a.link-style {
    text-decoration: none;
    color: white;
    transition: .4s;
}
a.link-style:hover {
    text-decoration: none;
    color: black;
}


.teachers-item-contents{
    display: flex;
    width: 100%;
}

.test-title-and-coment{
    width: 50%;
    background: #f0e68c;
    margin: 10px 40px 50px 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px;
}

.test-title-and-coment h1{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.test-title-and-coment p{
    text-align: center;
    font-size: 20px;
}

.calender-title-and-coment{
    width: 50%;
    background: #deb887;
    margin: 10px 40px 50px 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 3px;
}



.calender-title-and-coment h1{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.calender-title-and-coment p{
    text-align: center;
    font-size: 20px;
}



.centerBtn {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   
}
