.test-list-index{
    text-align: center;
    margin-bottom: 70px;
}
.test-list-index h1{
    border-bottom: solid 3px #ffc778;
    position: relative;
}
.test-list-index h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #D2691E;
  bottom: -3px;
  width: 50%;
}




.all-tests-wrapper {
    width: 80%;
    padding: 20px 15%;
    box-shadow: 0 0 20px gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background: #FFC7AF;
}

.all-tests-wrapper > .indexTestCard {
    width: 80%;
    height: 100px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: #fff;
    border-radius: 20px;
}

.indexTestCard > .name {
    width: 200px;
    height: 100%;
    border-right: 1px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}

.indexTestCard > .status {
    width: 180px;
    height: 100%;
    border-right: 1px solid #777;
    color: #777;
}

.indexTestCard > .status p.date {
    background: #686868;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.indexTestCard > .action {
    width: 120px;
    height: 100%;
    border-right: 1px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #777;
    transition: .4s;
}

.indexTestCard > .action > i {
    font-size: 20px;
}

.indexTestCard > .action:hover {
    background: #676767;
    color: white;
    cursor: pointer;
}

.new-test-bottom {
    margin: 80px 120px;
    background: #BDB76B;
    padding: 30px 100px;
    box-shadow: 0 0 20px gray;
    align-items: center;
    position: relative;
}

.new-test-bottom h1{
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

.new-test-bottom p{
    font-size: 20px;
    text-align: center;
}


.new-test-btn{
    text-align: center;
}