body {
  position: relative; 
  background: #fff;
}

.contents {
  padding: 70px 0 0 0;
  height: 100%;
  background: #fff; }
  
.notice {
  position: relative;
  z-index: -1;
  width: 600px;
  padding: 10px;
  margin: 70px auto;
  margin-bottom: 0;
  border: 5px solid skyblue;
  font-size: 34px;
}

.date-of-examination {
  background-image: url(center-date-bg.jpg);
  /*background: orange;*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /*box-shadow: 0 0 20px black;*/
}

.date-of-examination-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: normal;
  color: white; }
  
.date-of-examination-text > span {
  font-size: 100px;
  text-shadow: 6px 6px black;
}

.text-div-line {
  height: 10px;
  width: 400px;
  border-bottom: 3px solid white;
  margin-bottom: 30px;
}

.date-of-examination-under-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.ave-and-ranking {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 20px black;
  background: #EDFFBE;
  background-position: center;
  /*margin: 20px 30px 20px 20px;*/
  /*background: orange;*/
  background-size: cover; }

.ave-type-name {
  font-size: 80px;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  background: white; }


.home-total-ranking {
  height: 500px;
  background-size: cover;
  margin-bottom: 30px;
  padding: 30px; 
}
a.home-ob-episode:hover {
  text-decoration: none;
  color: white;
}

.home-ob-episode {
  margin-top: 30px;
  height: 600px;
  box-shadow: 0 0 20px black;
  background-image: url(episode_bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  align-items: center; }
  
.episode-bg-cover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.6s;
}
.home-ob-episode:hover 
.episode-bg-cover
{
  background: rgba(0, 0, 0, 0.5);
}

.box-in-episode {
  width: 70px;
  height: 70px;
  background: orange;
  transition: .6s;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.home-ob-episode:hover
.box-in-episode {
  transform: scale(1.2)  rotate(360deg);
}
.home-ob-episode:hover
.box-in-episode-icon {
  border-radius: 10px;
}

.box-in-episode-icon {
  background: white;
  width: 20px;
  height: 20px;
  transition: .6s;
}

.title-of-episode {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Georgia';
  text-shadow: 6px 6px black;
}

.episode_link_text {
  font-size: 60px;
  color: white;
  text-decoration: none;
  border: none; }

.episode_link_text:hover,
.home-ob-episode {
  text-decoration: none;
  color: white;
  border: none; }

.home-ob-episode:hover
.title-of-episode
.sub-title-of-episode
.message-of-episode {
  color: white;
  text-decoration: none;
}

.message-of-episode {
  font-size: 20px;
  font-family: 'Tunga';
  text-shadow: 3px 3px gray;
  margin-bottom: 30px;
}

/*.bg-cover {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0, 0, 0, 0.4);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center; }*/


.rank-table {
  background: white;
  margin: 20px auto;
  font-size: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}

.rank-row{
  padding: 20px 80px;
  font-family: 'arial black';
  border-bottom: 3px solid black;

}

.rank-score-row {
  /*border-bottom: 3px solid black;*/
}

/*# sourceMappingURL=top.css.map */

.home-total-ave-circle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101010;
    transition: 0.1s;
    box-shadow: 0 0 20px black;
}


.hide-area {
    display: none;
}

.home-total-ave-circle > p {
    font-size: 80px;
}

.home-total-ave-circle > span {
    font-size: 20px;
}


