header .navbar {
    height: 70px;
    margin: 0;
    padding: 0;
    background: #fff;
}

.navbar > .container {
    height: 70px;
    display: block;
    font-size: 20px;
}

.logo-text {
    font-size: 25px;
    font-family: 'arial black';
}

.logo-text a{
    display: block;
    color: #101010;
    line-height: 70px;
    padding: 0 20px;
    transition: .4s;
}

.logo-text a:hover {
    color: white;
    text-decoration: none;
    background: orange;
    border-radius: 25px;
}

.nav-item {
    color: #101010;
    padding: 0 30px;
    line-height: 70px;
    border-right: 1px solid orange;
    transition: .4s;
}

.nav-item:hover {
    color: white;
    background: orange;
}

.nib { border-left: 1px solid orange}