// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.f-wrapper {
    width: 700px;
    border: 3px solid #ccc;
    border-radius: 6px;
    margin: 50px auto;
    padding: 20px;
}

.msg-form-title {
    text-align: center;
}