// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents{
    padding: 30px;
    background: #eee;
}

.date-of-examination {
    
    background: white;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-of-examination-text {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
}

.home-total-ave {
    height: 600px;
    background: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-total-ave-circle {
    background: #ccc;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-total-ave-circle > p {
    font-size: 80px;
}

.home-total-ave-circle > span {
    font-size: 20px;
}

.home-total-ranking {
    height: 600px;
    background: white;
    margin-bottom: 30px;
    padding: 30px;

}

.home-ob-episode {
    height: 600px;
    background: white;
    margin-bottom: 30px;
}