// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  position: relative;
}
.contents{
    padding: 30px;
    background: #eee;
}

.date-of-examination {
    
    background-image: url(top_center_exam.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-of-examination-text {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    color: white;
}
.ave-and-ranking{
    background-image: url(top_ranking.jpg);
    background-size: cover;
}

.ave-type-name{
    font-size: 80px;
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    background: white;
}

.home-total-ave {
    height: 600px;
    background-size: cover;
    margin-bottom: 30px;
}

.home-total-ranking {
    height: 300px;
    background-size: cover;
    margin-bottom: 30px;
    padding: 30px;

}



.home-ob-episode {
    height: 600px;
    background-image: url(episode_bg.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-ob-episode > a {
    font-size: 50px;
    text-decoration: none;
    color: black;
    transition: .4s;
}

.episode_link_text {
    font-size: 60px;
    color: white;
    text-decoration: none;
    border: none;
}

.episode_link_text:hover,
.home-ob-episode {
    text-decoration: none;
    color: white;
    border: none;
}

.bg-cover {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    z-index: 10;
    width: 100vw;
}
